@import url(https://fonts.googleapis.com/css?family=Montserrat)

body
    background-color RGB(107, 170, 64)
    font-family 'Montserrat', sans-serif

    .wrap
        background-color RGBA(240, 255, 240, .3)
        display flex
        margin 1em
        padding 1em
        flex-direction column
